.advantages__lead {
  padding: 0 18px 32px;
}

.advantages__title {
  padding: 0 18px;
  margin-bottom: 49px;
  text-align: center;
}

.advantages__title--lead {
  margin-bottom: 35px;
}

.advantages__text {
  @include text-base;
  margin: 0 18px;
  text-align: center;
}

.advantages__list {
  @include list-reset;

  @media (min-width: $width-tablet) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.advantages__item {
  @media (min-width: $width-tablet) {
    min-height: 256px;
    box-sizing: border-box;
  }
}

.advantages__item:first-child {
  padding-top: 54px;
}

.advantages__item:first-child .advantages__text {
  margin-bottom: 40px;
}

.advantages__item--width-medium {
  @media (min-width: $width-tablet) {
    grid-column: span 2;
  }
}

.advantages__item--service {
  padding-top: 8px;
  padding-left: 47px;
  text-align: left;
}

.advantages__title--service {
  text-align: left;
  margin-bottom: 16px;
  padding: 0;
}

.advantages__text--service {
  text-align: left;
  margin: 0;
  padding: 0;
}

.advantages__item--theme-base {
  margin: 0;
  padding: 24px 0;
  background-color: #eeeeee;
}

.advantages__item--theme-dark {
  padding-top: 37px;
  background-color: $blocks-bgcolor-base;
  color: $element-color-dark;
}

.advantages__item--theme-dark .advantages__title {
  padding: 0 18px;
}

.advantages__text--theme-dark {
  color: $element-color-dark;
  padding-bottom: 37px;
}

.advantages__image {
  width: 100%;
  display: block;
}
