.button {
  padding: 16px;
  background-color: $button-color-base;
  color: $element-color-dark;
  text-align: center;
  font-family: $font-base;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: $button-color-hover;
  }

  &:active {
    background-color: $button-color-down;
    color: $element-color-dark-down;
  }

  &:disabled {
    background-color: $button-color-disabled;
  }
}
