.hero {
  padding: 90px 19px 85px;
  box-sizing: border-box;
  background-color: $blocks-bgcolor-base;
  background-image: url(../img/hero-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero--size-short {
  padding: 52px 19px 67px;
  background-position: bottom;
}

.hero__slogan--short {
  display: block;
  margin: 0 auto;
  object-fit: cover;
  width: 229px;
  height: 39px;
}
