.hero {
  padding: 90px 19px 85px;
  box-sizing: border-box;
  background-color: $blocks-bgcolor-base;
  background-image: url("../img/decoration/hero-spacer.svg"), url("../img/hero-background.jpg");
  background-position: bottom center, center;
  background-repeat: no-repeat, no-repeat;
  background-size: auto, cover;
  text-align: center;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/decoration/hero-spacer.svg"), url("../img/hero-background@2x.jpg");
    background-size: auto, cover;
  }

  @media (min-width: $width-tablet) {
    min-height: 518px;
    padding: 77px 20px 91px;
    background-image: url("../img/decoration/hero-spacer.svg"), url("../img/hero-background-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/decoration/hero-spacer.svg"), url("../img/hero-background-tablet@2x.jpg");
      background-size: auto, cover;
    }
  }
}

.hero--size-short {
  padding: 52px 19px 67px;
  background-position: bottom;

  @media (min-width: $width-tablet) {
    min-height: 290px;
    padding: 95px 60px 117px;
  }

  @media (min-width: $width-desktop) {
    min-height: 301px;
    padding: 101px 60px 120px;
  }
}

.hero--no-spacer {
  @media (max-width: $width-tablet - 1px) {
    background-image: url("../img/hero-background.jpg");
  }
}

.hero__slogan {
  display: block;
  margin: 0 auto;
}

.hero__slogan--short {
  display: block;
  margin: 0 auto;
  object-fit: cover;
  width: 229px;
  height: 39px;
}
