.main-container {
  background-color: $page-bgcolor-base;
}

.main-container__hero {
  margin-bottom: 32px;

  @media (min-width: $width-tablet) {
    margin-bottom: 47px;
  }

  @media (min-width: $width-desktop) {
    margin-bottom: 59px;
  }
}

.main-container__hero.hero--size-short {
  margin-bottom: 37px;

  @media (min-width: $width-tablet) {
    margin-bottom: 66px;
  }

  @media (min-width: $width-desktop) {
    margin-bottom: 100px;
  }
}

.main-container__find-hotel {
  margin-bottom: 8px;
}

.main-container__photos {
  padding: 0 20px;
}

.main-container__video {
  padding: 17px 20px 0;
}

.main-container__feedback {
  padding: 4px 20px 0;
}
