.main-container__hero {
  margin-bottom: 32px;
}

.main-container__find-hotel {
  margin-bottom: 8px;
}

.main-container__photos {
  padding: 5px 20px 0;
}

.main-container__video {
  padding: 17px 20px 0;
}

.main-container__feedback {
  padding: 4px 20px 0;
}
