.page__body {
  margin: 0 auto;
  padding: 0;
  background-color: $page-bgcolor-base;
  width: 320px;

  @media (min-width: $width-tablet) {
    width: $width-tablet;
  }

  @media (min-width: $width-desktop) {
    width: $width-desktop;
    background-color: #f2f2f2;
    box-shadow: 0 5px 15px 0px rgba(#000101, 0.2);
  }
}
