.photo-card {
  @media (min-width: $width-tablet) {
    display: grid;
    grid-template-columns: 1fr 90px;
    grid-template-rows: repeat(3, auto);
  }
}

.photo-card__image {
  display: block;
  object-fit: cover;
  width: 100%;
  height: auto;

  @media (min-width: $width-tablet) {
    grid-column: 1/-1;
    grid-row: 1/2;
  }

  @media (min-width: $width-desktop) {
    grid-column: 1/-1;
    grid-row: 1/-1;
  }
}

.photo-card__title {
  @include text-base;
  font-weight: 700;
  padding-top: 15px;

  @media (min-width: $width-tablet) {
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 22px 0 0 20px;
  }
}

.photo-card__author {
  @include text-base;
  color: #333333;
  margin-bottom: 16px;

  @media (min-width: $width-tablet) {
    grid-column: 1/2;
    grid-row: 3/4;
    padding: 0 0 16px 20px;
    margin-bottom: 0;
  }
}

.photo-card__likes {
  @media (min-width: $width-tablet) {
    grid-column: 2/3;
    grid-row: 2/4;
    text-align: right;
    padding: 32px 20px 10px 0;
  }
}

.photo-card__likes-number {
  position: relative;

  @include text-base;
  font-weight: 700;
  padding-left: 37px;

  &::before {
    position: absolute;
    content: "";
    height: 21px;
    width: 23px;
    mask-image: url("../img/decoration/like-icon.svg");
    background-color: rgba($element-color-light, 0.3);
    left: 0;
    top: -6px;

    @media (min-width: $width-tablet) {
      left: 5px;
      top: -5px;
    }

    @media (min-width: $width-desktop) {
      background-color: $element-color-dark;
    }
  }
}
