.social__list {
  @include list-reset;
  display: flex;
  justify-content: center;
  gap: 6px;
}

.social__link {
  position: relative;
  display: block;
  width: 48px;
  height: 48px;
  background-color: $button-color-base;

  &:hover {
    background-color: $button-color-hover;
  }

  &:active {
    background-color: $button-color-down;

    &::after {
      opacity: 0.3;
    }
  }


  &::after {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    background-position: center;
  }

  &--vk {
    &::after {
      background-image: url("../img/decoration/icon-vk.svg");
    }
  }

  &--telegram {
    &::after {
      background-image: url("../img/decoration/icon-telegram.svg");
    }
  }

  &--youtube {
    &::after {
      background-image: url("../img/decoration/icon-youtube.svg");
    }
  }
}
