//глобальные стили

//заголовки

.title {
  margin: 0;
  padding: 0;
  font-family: $font-base;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.title--theme-base {
  color: #000000;
}

.title--theme-dark {
  color: $element-color-dark;
}
